<%= render partial: 'layouts/flash' %>
  <h1 class="form-title">映画</h1>
  <%= form_with(url:movie_schedule_sheets_path(@movie.id,1),method: :get) do |f| %>
  <%#= form_with(model: [@movie,@schedules],url:sheets_path,method: :get) do |f|%>
  <div class ="form-layout">
    <%= image_tag "#{@movie.image_url}" %><br>
    <h4>映画タイトル</h4>
    <%= f.label :"#{@movie.name}"%><br>
    <h4>公開年</h4>
    <%= f.label :"#{@movie.year}" %><br>
    <h4>上映中か</h4>
    <%= f.check_box :is_showing,disabled:true%><br>
    <h4>概要</h4>
    <%= f.label :"#{@movie.description}" %><br>
    <% today = Date.current %>
    <% d = Date.today %>
    <%= f.select :date,(0..6).map {
      |i| [(d+i)]
    },include_blank: "日付を選択して下さい" %><br>
    <%= f.select :schedule_id, @schedules.map {
      |schedule| [schedule.start_time.strftime("%H:%M")+"〜"+schedule.end_time.strftime("%H:%M"),schedule.id]
    },include_blank: "時間を選択して下さい" %><br>
    <button><%= f.submit :座席を予約する%><br></button>
  <% end %>
  </div>
  <table class = "table table-striped">
  <tr class="table-primary">
    <th>ID</th>
    <th>映画ID</th>
    <th>上映開始時刻</th>
    <th>上映終了時刻</th>
    <th>登録日時</th>
    <th>更新日時</th>
  </tr>
  <% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.id %></td>
    <td><%= schedule.movie_id %></td>
    <td><%= schedule.start_time.strftime("%H:%M") %></td>
    <td><%= schedule.end_time.strftime("%H:%M") %></td>
    <td><%= schedule.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= schedule.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <% end %>
  </table>
<%= link_to "一覧画面へ戻る", movies_path %>