<%= render partial: 'layouts/flash' %>
<h1 class="form-title">新規予約画面</h1>
<%= form_with(model: @reservation, url:reservations_path) do |f| %>
  <div class ="form-layout">
    <%= f.text_field :name, placeholder:"名前",size:40%><br>
    <%= f.text_field :email, placeholder:"メールアドレス",size:40%><br>
    <%= f.submit :保存, class: "btn btn-primary" %><br>
  </div>
  <% end %>
  <%= link_to "一覧画面へ戻る", reservations_path %>