  <h1 class="form-title">スケジュール編集</h1>
  <%= form_with(model: @schedules, url:admin_schedule_path(@movies.id)) do |f| %>
  <div class ="form-layout">
    <%= f.label :上映開始時間 %><br>
    <%= f.text_field :start_time, placeholder:"#{@schedules.start_time.strftime("%H:%M")}",size:40%><br>
    <%= f.label :上映終了時間 %><br>
    <%= f.text_field :end_time, placeholder:"#{@schedules.end_time.strftime("%H:%M")}",size:40%>
    <%= f.submit :保存, class: "btn btn-primary" %>
  </div>
    <%= link_to "削除", admin_schedules_path,method: :delete, data: { confirm: "【確認】スケジュールを削除してもよろしいですか？" }, class: "btn btn-danger" %>
<% end %>
<%= link_to "一覧画面へ戻る", admin_schedules_path %>