<%= render partial: 'layouts/flash' %>
<h1 class="form-title">新規スケジュール登録画面</h1>
<%= form_with(model: @schedule, url:admin_schedules_path) do |f| %>
  <div class ="form-layout">
    <%= f.label :上映開始時間 %><br>
    <%= f.text_field :name, placeholder:"上映開始時間",size:40%><br>
    <%= f.label :上映終了時間 %><br>
    <%= f.text_field :year, placeholder:"上映終了時間",size:40%><br>
    <%= f.submit :保存, class: "btn btn-primary" %><br>
  </div>
  <% end %>
  <%= link_to "一覧画面へ戻る", admin_movies_url %>